@font-face {
  font-family: "iconfont"; /* Project id 2609641 */
  src: url('iconfont.woff2?t=1623914708085') format('woff2'),
       url('iconfont.woff?t=1623914708085') format('woff'),
       url('iconfont.ttf?t=1623914708085') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jianshenqixie:before {
  content: "\e63f";
}

.icon-pinciguanli:before {
  content: "\e711";
}

.icon-SVIPCopy:before {
  content: "\e613";
}

.icon-svip:before {
  content: "\e609";
}

.icon-tubiaosvg-:before {
  content: "\e60c";
}

.icon-xiala:before {
  content: "\e6bb";
}

.icon-wechat-fill:before {
  content: "\e645";
}

